/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ADD CSS BELOW */

body {
  margin: 30px;
}

h1,
h2 {
  text-align: center;
  font-family: "Bangers", cursive;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
  padding: 20px;
}

.row {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.col {
  /* border: 2px dashed color:gray; */
  /* padding: 60px; */
  background: #eaeaea;
  border: 2px dashed #707070;
  padding: 20px;
}

.image {
  height: 300px;
}
