li {
    list-style-type: none;
}

h1, p, h2 {
    margin: 0;
}

.centered {
    text-align: center;
    background-color: gray;
}

.title {
    font-size: 3rem;
}

.monospaced {
    font-family: monospace;
    background: gray;
}

#subtitle {
    font-size: 1.5rem;
}

#content {
    text-decoration: underline;
}