#title {
  text-align: center;
  font-size: 3em;
}

#subtitle {
  font-size: 1.5rem;
  text-align: center;
}

.div {
  background-color: gray;
}

#content {
  text-decoration: underline;
  background: grey;
  font-family: monospace;
  font-size: 1em;
  font-style: bold;
}

ul {
  list-style-type: none;
}

h1,
p,
h2 {
  background: grey;
  margin: 0;
}
