.centered {
    text-align: center;
}

p.centered {
    text-align: center;
    font-size: 1.5rem;
}

.monospaced {
    font-family: monospace;
}

h1, p, h2, ul {
    background: grey;
    margin: 0;
}

ul, h2 {
    text-decoration: underline;
}