h1, p {
  margin: 0;
}

.title, .subtitle {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  font-size: 24px;
}

.content {
  font-family: 'Comic Sans MS', sans-serif;
}

.emph {
  font-style: italic;
}