button {
  background-color: blue;
  padding: 40px;
  color: white;
  font-size: 25px;
  border-radius: 25px;
  width: 20%;
}


- background color is `blue`
- properties used: `padding`, `border`, `background`, `color`, `border-radius`.