p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.one {
  background-color: pink;
  margin: 0px;
}

.two {
  background-color: fuchsia;
  margin: 0px;
}

.three {
  font-size: 5em;
  margin: 5px;
}
